.admin_navbar {
    background-color: #1b228c;
    position: fixed;
    top: 0;
    width: 15%;
    z-index: 1;
    display: flex;
    bottom: 0;

    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
} 

.user_name {
    width: 100%;
    text-align: center;
}

.user_name h3 {
    padding: 30px;
    font-size: 1.4rem;
    color: #fffbde;
}

.figure {
    width: 100%;
    height: 24vh;
}

.admin_navbar_wrapper {
    width: 100%;
}

.admin_navbar_wrapper li {
    padding: 20px;
    text-align: center;
    border: solid 1px black;
}

.admin_navbar_wrapper ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 3px;
}

.admin_navbar_wrapper h3 {
    color: #fffbde;
}

.logout {
    position: fixed;
    bottom: 0;
    width: 15%;
}

.a_logout_btn {
    color: #fffbde;
    width: 100%;
    height: 75px;
    font-size: 1.2rem;
    background-color: #bdc1412e;
    border-color: #bdc1412e;
}
   


