#container_a {
    min-height: 100%;
}

#main_a {
    width: 85%;
    margin-left: auto;
}

#main_a h1 {
    letter-spacing: 3px;
    font-size: 2rem;
    margin-left: 5vw;
    position: relative;
    top: 5vh;
}

.input {
    columns: 3;
    padding: 150px;
    position: relative;
}   

.input div {
    width: 15vw;
    border: solid 1px #1b228c;
    border-radius: 10px;
    width: 15vw;
    padding: 15px;
    margin-bottom: .5em;
    background-color: khaki;
}

.input label {
    margin-bottom: 2vh;
    display: inline-block;
    padding: 5px;
}

.input select {
    background-color: #d1d1ff;
    padding: 5px;
    border: solid 2px #1a1a68;
    border-radius: 5px;

}

.input input {
    border: solid 2px #1a1a68;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    background-color: #d1d1ff;
}

.dummy_div {
    height: 20vh;
}

.dummy_div2 {
    height: 16vh;
}

#checkbox_container {
    width: unset;
    padding: unset;
    margin-bottom: unset;
    display: flex;
    flex-wrap: wrap;

    position: absolute;
    left: 0;
    top: 35vh;
    gap: 1em;

    margin-left: 150px;
    padding: 20px;
    width: 37vw;
}

#checkbox_div {
    display: flex;
    gap: 0.5em;
    padding: 5px;
}

#checkbox_container input {
    padding: unset;
    width: unset;
}

.submit_btn {
    border: none;
    padding: 0;
    background-color: #1b228c;
}

.submit_btn button {
    width: 100%;
    padding: 10px;
    border: solid 2px #1a1a68;
    background-color: #1a1a68;
    color: #fffbde;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 1rem;
}

/* reis */
#reis_btn {
    padding: 0;
}

/* bestemming */
#bstm_btn {
    padding: 0;
    margin-top: 3.5vh;
}

/* accommodatie */
#acco_btn {
    padding: 0;
}

/* faciliteit */
#input_fac {
    columns: 1;
}

#fac_btn {
    padding: 0;
    /* margin-top: 1em; */
}


/* overview */

#overview_btns {
    position: absolute;
    top: 3vh;
    display: flex;
    gap: 1em;
    right: 1vw;
}

.overview_btn button {
    padding: 5px;
    min-width: 12vw;
    border-radius: 5px;
    background-color: #d1d1ff;
    border: solid 1px #d1d1ff;
}


#ov_btn {
    position: absolute;
    right: .1vw;
    bottom: 0.3vh;
    width: 8vw;
    z-index: 2;
}

#ov_btn button {
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
    border: solid 1px #1b228c;
    background: #1b228c;
    color: #fffbde;
}

.redirect_home {
    position: absolute;
    left: 15vw;
    top: 0px;
    width: 8vw;
}

.redirect_home button {
    font-size: .9rem;
    border: solid 1px #1b228c;
    background: #1b228c;
    color: #fffbde;
    padding: 10px;
    width: 100%;
}

#input_search {
    padding: 10px;
    width: 15vw;
}

#search_form {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 12.5vw;
    gap: 0.2em;
}

#search_form button {
    padding: 10px;
    width: 5.5vw;
}

.name_fac {
    border: solid 1px #1a1a68;
    background-color: #d1d1ff;
    border-radius: 10px;
    min-width: 15vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: space-around;
}

.fac_container {
    position: relative;
    top: 6em;
    width: 100%;
}

.fac_wrapper {
    width: 80%;
    margin: auto;
    border: solid 2px khaki;
    border-radius: 25px;    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    padding: 20px;
}

.name_fac h4 {
    padding: 10px;
    text-align: center;
    min-width: 9vw;
}

.fac_delete_btn {
    padding: 3px;
    min-width: 4vw;
    background-color: khaki;
    border: khaki;
    border-radius: 5px;
  }