#container_a {
    min-height: 100%;
}

#main_a {
    width: 85%;
    margin-left: auto;
}

#main_a h1 {
    letter-spacing: 3px;
    font-size: 2rem;
    margin-left: 5vw;
    position: relative;
    top: 5vh;
}

#input_content {
    width: 100%;
    position: relative;
    top: 2em;
}

.input {
    margin: auto;
    display: flex;
    /* border: solid 2px blue; */
    flex-wrap: wrap;
    align-items: center;

    gap: row;
    position: relative;
    padding: 65px;
    gap: .8em;
    width: 100%;
}   

.input div {
    border: solid 1px #1b228c;
    border-radius: 10px;
    background-color: khaki;
    min-width: 14vw;
    padding: 15px;
}

.checkbox_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#checkbox_div {
    display: flex;
    gap: 0.5em;
    padding: 5px;
    border: unset;
}

#input_reis div {
    min-width: 18vw;
}

#input_bstm div {
    min-width: 20.6vw;
}

.input label {
    margin-bottom: 2vh;
    display: inline-block;
}

.input select {
    background-color: #d1d1ff;
    border: solid 2px #1a1a68;
    border-radius: 5px;
    padding: 5px;

}

.input input {
    border: solid 2px #1a1a68;
    border-radius: 5px;
    background-color: #d1d1ff;
    width: 100%;
    padding: 5px;
}

#input_reis {
    width: 98%;
}

#input_fac {
    flex-direction: column;
    width: 25%;
    margin: unset;
    left: 5vw;
}

#input_bstm {
    width: 85%;
}

#checkbox_container {
    padding: unset;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    flex-direction: column;
}

#checkbox_container input {
    padding: unset;
    width: unset;
}

.submit_btn {
    border: none;
    background-color: #1b228c;
    color: whitesmoke;
    padding: 10px;
    min-width: 8vw;
    border-radius: 10px;
}

.submit_btn button {
    width: 100%;
    padding: 10px;
    border: solid 2px #1a1a68;
    background-color: #1a1a68;
    color: #fffbde;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 1rem;
}

/* buttons */
    /* reis */
    #btn_reis {
        position: relative;
        left: 10vw;
        bottom: 4vh;
        z-index: 2;
    }

    /* bestemming */
    #btn_bstm {
        position: absolute;
        right: 25vw;
        bottom: 16vh;
        z-index: 999;
    }

    #btn_bstm_terug {
        position: absolute;
        right: 38vw;
        bottom: 16vh;
        z-index: 999;
    }

    /* accommodatie */
    #btn_acco {
        position: absolute;
        bottom: 0;
        right: 4vw;
    }

    #btn_acco_terug {
        position: absolute;
        bottom: 0;
        right: 13vw;
    }

    /* faciliteit */
    #btn_fac {
        position: relative;
        z-index: 999;
        width: 100%;
    }

    /* overview btns */
    #overview_btns {
        position: absolute;
        top: 3vh;
        display: flex;
        gap: 1em;
        right: 1vw;
        z-index: 2;
    }

    .overview_btn button {
        padding: 5px;
        min-width: 12vw;
        border-radius: 5px;
        background-color: #d1d1ff;
        border: solid 1px #d1d1ff;
    }


    #ov_btn {
        position: absolute;
        right: .1vw;
        bottom: 0.3vh;
        width: 8vw;
        z-index: 2;
    }

    #ov_btn button {
        padding: 10px;
        width: 100%;
        font-size: 0.9rem;
        border: solid 1px #1b228c;
        background: #1b228c;
        color: #fffbde;
    }

    #reis_tbl button {
        position: relative;
        z-index: 999;
    }
    
/* end buttons */


/* .redirect_home {
    position: absolute;
    left: 15vw;
    top: 0px;
    width: 8vw;
}

.redirect_home button {
    font-size: .9rem;
    border: solid 1px #1b228c;
    background: #1b228c;
    color: #fffbde;
    padding: 10px;
    width: 100%;
} */

/* #input_search {
    padding: 10px;
    width: 15vw;
}

#search_form {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 12.5vw;
    gap: 0.2em;
}

#search_form button {
    padding: 10px;
    width: 5.5vw;
} */

.name_fac {
    border: solid 1px #1a1a68;
    background-color: #d1d1ff;
    border-radius: 10px;
    min-width: 15vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: space-around;
}

.fac_container {
    position: relative;
    top: 6em;
    width: 100%;
}

.fac_wrapper {
    width: 80%;
    margin: auto;
    border: solid 2px khaki;
    border-radius: 25px;    
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    padding: 20px;
}

.name_fac h4 {
    padding: 10px;
    text-align: center;
    min-width: 9vw;
}

.fac_delete_btn {
    padding: 3px;
    min-width: 4vw;
    background-color: khaki;
    border: khaki;
    border-radius: 5px;
    position: relative;
    z-index: 2;
  }