.navbar {
    margin-top: 5em;
}

.navbar_wrapper ul {
    display: flex;
    gap: 2em;
    list-style: none;
    padding: 5px;
    justify-content: flex-start;
    margin-left: 2vw;
}

.navbar_wrapper li {
    text-align: center;
}

.navbar_wrapper a {
    color: #2323a6;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 2.5;
    font-weight: bold;
    text-decoration: solid;
}


