* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 120px;
}

#footer {
    background-color: #1a1a68;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}

.header_wrapper {
    background-color: khaki;
    position: relative;
    height: 7vh;

    display: flex;
    justify-content: space-between;
}
   

.header_wrapper figure {
    height: unset;
    width: 5vw;
}

.logo {
    content: "";
    background: url("../IMG/logo.png") no-repeat center 40%;
    background-size: cover;
    background-color: rgba(000, 0, 0, 1);
    height: 100%;
}

.name_box {
    position: absolute;
    left: 6.5vw;
}

.account_box {
    display: flex;
    align-items: flex-end;
    gap: 1em;
    margin-right: 1vw;
}


.account_box button {
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 5vw;
    background-color: #1a1a68;
    border-radius: 5px;
    color: whitesmoke;
}

#role {
    position: relative;
    right: 1vw;
}

.login_form {
    display: flex;
    height: 100%;
    align-items: flex-end;
    gap: 1em;
    position: relative;
    bottom: 9px;
}

.login_form div {
    display: flex;
    align-items: center;
    gap: .5em;
}

.login_form label {
    display: inline-block;
}

.login_form input {
    padding: 3px;
}

.login_form button {
    padding: 3px;
    width: 5vw;
}

.header h3 {
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    top: 3vh;
}

.h1 {
    position: relative;
    bottom: 3vh;
    margin-left: 2vw;
}

/* accommodatie */
.acco_container {
    width: 90%;
    border: solid 1px black;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
    justify-content: flex-start;
}

.box_wrapper {
    width: 30%;
}

div#acco_box:nth-child(4) {
    display: flex;
    flex-wrap: wrap;
}

div#acco_box:nth-child(5) {
    padding: 0;
}
   
.img_card img {
    width: 22.4vw;
}
   
/* end accommodatie */

.info_card_reizen {
    width: 50%; 
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card_box {
    border: solid 1px black;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    width: 65%;
    margin: auto;
}

.box {
    min-width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.info_card {
    display: flex;
}

.info_card_accommodatie {
    border: solid 2px blue;
    width: 45%;
}

#acco_box {
    border: solid 1px black;
    width: unset;
    /* padding: 5px; */
    justify-content: flex-start;
}

#acco_box h4 {
    min-width: 12vw;
}

#acco_box > * {
    /* padding: 5px; */
}

div.card_box:nth-child(6) > fiure:nth-child(1) {
    margin: auto;
}

div.card_box:nth-child(6) > fiure:nth-child(1) > img:nth-child(1) {
    height: 39vh;
    width: 38vw;
}
   