.empty_div {
    height: 5.1vh;
}

.table_content {
    width: 75%;
    margin: auto;
}  

.table_content h1 {
    margin-bottom: 10vh;
}

.table_content table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(12, 32, 32, .3);

    position: relative;
    top: 1em;
}

.table_content th {
    text-transform: uppercase;
    background-color: khaki;
}

.table_content th, td {
    padding: 10px 15px;
}

.table_content tr:nth-child(odd) {
    background-color: #d1d1ff;
}

.table_content tr:nth-child(even) {
    background-color: #f7f3d0;
}


/* admin */
#admin_table {
    width: 100%;
    margin-bottom: 8em;
    margin-top: 4em;
}

#reis_tbl {
    width: 90%;
    margin: auto;
}

#bstm_tbl {
    width: 75%;
    margin: auto;
}

#acco_tbl {
    width: 85%;
    margin: auto;
}

#fac_tbl {
    width: 35%;
    margin: auto;
}

#boeking_tbl {
    position: relative;
    top: 12vh;
    width: 75%;
    margin: auto;
}

.title_boeking {
    position: relative;
    top: 10vh;
}