#table_content {
    width: 75%;
    margin: auto;
}  

#table_content h1 {
    margin-top: -3vh;
    margin-bottom: 2vh;
    color: #2b52b0;
}

#table_content table {
    width: 100%;
    text-align: center;
    background-color: #b6d0f8c9;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32, 32, 32, .3);
}

#table_content th {
    color: #ffffba;
    text-transform: uppercase;
    background-color: #2b52b0;
}

#table_content th, td {
    padding: 10px 15px;
}

#table_content tr:nth-child(odd) {
    background-color: #ffffba;
}



#table_content_a {
    width: 85%;
    margin: auto;
    position: relative;
    top: 15vh;
}  

#table_content_a h1 {
    margin-top: -3vh;
    margin-bottom: 2vh;
    color: #2b52b0;
}

#table_content_a table {
    width: 100%;
    text-align: center;
    background-color: #b6d0f8c9;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32, 32, 32, .3);
}

#table_content_a th {
    color: #ffffba;
    text-transform: uppercase;
    background-color: #2b52b0;
}

#table_content_a th, td {
    padding: 10px 15px;
}

#table_content_a tr:nth-child(odd) {
    background-color: #ffffba;
}


